.main-container {
  .title-container {
    font-size: 64px;
    margin-top: 90px;
    text-align: center;

    .title-focus {
      color: #eb7509;
    }
  }

  .buttons-container {
    text-align: center;
    margin-top: 100px;
    justify-content: space-between;
    button {
      margin: 0px 15px;
      .button-icon {
        margin-left: 3px;
      }
    }
    span {
      font-size: 20px;
    }
  }
}
